// THEME COLORS
$gray: #9fa1a4;
$medium-gray: #a0a7b1;
$light-gray: #eaeaea;
$lavender: #efeff0;
$gainsboro: #ededed;
$black: #000;
$white: #fff;
$dark-red: #cc552c;
$dark-salmon: #eaccba;
$salmon: #f8e1d0;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$light-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$danger: #ee7a7a;

// Bootstrap
$dark: $gray;
$light: $light-gray;
$font-family-base: 'Source Serif Pro', serif;
$font-family-text: 'Montserrat', sans-serif;
$font-size-base: .8rem;
$h1-font-size: 1.1rem;
$h2-font-size: 1rem;
$h3-font-size: .9rem;
$primary: $dark-red;
$secondary: $salmon;
$body-color: $black;
$enable-rounded: true;
$breadcrumb-divider: quote('>');
$border-radius: .25rem;
$link-color: $black;
$dropdown-font-size: .7rem;
//$border-color: $lavender;
$component-active-color: $black;
//$btn-link-disabled-color: $gainsboro;
//$input-bg: $white;
//$input-disabled-bg: $gainsboro;
//$input-color: $black;
//$input-border-color: $lavender;
//$input-placeholder-color: $gray;
//$input-group-addon-bg: $lavender;
//$input-focus-border-color: $gray;

//Bootstrap.nav
$nav-tabs-border-color: $lavender;
$nav-tabs-border-width: 1px;
$nav-tabs-link-hover-border-color: $lavender;
$nav-tabs-link-active-color: $black;
$nav-tabs-link-active-bg: $lavender;
$nav-tabs-link-active-border-color: $lavender;
$nav-tabs-link-color: $gray;